<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonitorMind - System Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daisyui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add other necessary head elements here -->
</head>
<body>
<div class="container mx-auto py-2 px-4 md:px-0">
    <h1 class="text-4xl pb-4 font-bold text-center mt-4">MonitorMind: System Monitoring Dashboard</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <div id="cpu-usage" class="artboard p-4 bg-base-300 my-4 rounded rounded-lg shadow-md md:shadow-2xl">
            <h2 class="text-primary">CPU Usage</h2>
            <div id="cpu-data">
                <div class="text-center loader">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        </div>

        <div id="memory-usage" class="artboard p-4 bg-base-300 my-4 rounded rounded-lg shadow-md md:shadow-2xl">
            <h2 class="text-primary">Memory Usage</h2>
            <div id="memory-data">
                <div class="text-center loader">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        </div>

        <div id="swap-usage" class="artboard p-4 bg-base-300 my-4 rounded rounded-lg shadow-md md:shadow-2xl">
            <h2 class="text-primary">Swap Usage</h2>
            <div id="swap-data">
                <div class="text-center loader">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        </div>

        <div id="PROCESSES" class="artboard p-4 bg-base-300 my-4 rounded rounded-lg shadow-md md:shadow-2xl">
            <h2 class="text-primary">PROCESSES</h2>
            <div id="process-data">
                <div class="text-center loader">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        </div>

        <div id="Network" class="artboard p-4 bg-base-300 my-4 rounded rounded-lg shadow-md md:shadow-2xl">
            <h2 class="text-primary">Network</h2>
            <div id="Network-data">
                <div class="text-center loader">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        </div>

    <!-- Add other metric sections here -->
    </div>

</div>

<script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/polling.js') }}"></script>
<!-- Add other necessary scripts here -->
</body>
</html>